@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

:root {
  --background: #202124;
  --nav-background: #303134;
  --logo-font: 'Kanit', sans-serif;
  --body-font: 'Poppins', sans-serif;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  max-height: 100vh;
  background-color: var(--background);
  color: #ffffff;
  font-family: var(--body-font);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--nav-background);
  font-size: 1.2rem;
  padding: 20px 0;
  margin-bottom: auto;
}

.logo h3 {
  font-family: var(--logo-font);
  font-weight: 900;
}

.links {
  display: flex;
  gap: 2rem;
}

.links a {
  color: #ffffff;

}

section {
  margin: 40px 60px;
  align-items: flex-start;
}

#about {
  display: flex;
  justify-content: space-around;
}

.box {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 1.5rem;
}

#about .img {
  width: 300px;
}

.img img {
  width: 100%;
  /* border-radius: 50%; */
}

.button {
  padding: 10px 5px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px #ffffff solid;
  max-width: 300px;
  text-align: center;
  transition: 1s;
}

.button:hover {
  background-color: purple;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 3rem;
}

footer {
  background-color: var(--nav-background);
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}

@media (max-width: 600px) {

  section {
    margin: 20px 30px;
  }

  #about {
    display: flex;
    flex-direction: column-reverse;
  }

  #about .img {
    width: 200px;
  }

  .img {
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img img {
    width: 80%;
  }

  .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
  }

  .social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
  }
}
