@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #bd2f2c;
}

.container {
  position: relative;
  width: 400px;
  height: 100%;
  background-image: url('images/fundo.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  filter: blur(2px);
  overflow: hidden;
}

.link-wrapper {
  position: absolute;
  display: flex;
  flex-flow: column;
  z-index: 10;
  text-align: center;
}

.link-wrapper h1 {
  color: #ffffff;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #bd2f2c;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background: #bd2f2c;
  padding: 10px 20px;
  border-radius: 5px;
}

a:hover {
  background: #d13836;
}