@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg, #cf3b40, #fad0c4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.container {
  background: rgba(0, 0, 0, 0.6);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 90%;
}

.box {
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.contador {
  background-color: #510a0a;
  border-radius: 10px;
  padding: 10px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  animation: fadeIn 1s ease-in-out;
  text-align: center;
}

.imagem img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin-bottom: 20px;
}

.text {
  text-align: center;
}

.text p {
  margin-top: 10px;
  text-align: justify;
  font-size: small;
}

audio {
  height: 30px;
  margin: 0 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
